div.show-image {
    background-image: url("https://scontent.fbkk1-5.fna.fbcdn.net/v/t34.0-12/20937659_2007684269463274_768762395_n.png?oh=94302a23e08972b9320a540a0b5aee3d&oe=599EE336");
    background-repeat: round;
    
    padding: 1% 1% 100% 1%;
}

div.x1 {
   
    padding: 16% 1% 1% 100%;

}
 div.x2 {

    padding: 100% 2% 1% 1%;
    float: left;
}

div.x3 {
    padding: 76% 6% 1% 1%;
    float: left;
}
div.x4 {
    padding: 4% 38% 3% 38%;
    float: left;
}
div.x5 {
    padding: 50% 38% 7% 24%;
    float: left;
}
div.blog1 {
    padding: 80% 4% 10% 10%;
    float: left;
}

div.blog2 {
    padding: 7% 30% 6% 53%;
    float: left;
}

div.blog3 {
    padding: 35% 7% 35% 7%;
    float: left;
}
div.blog4 {
    padding: 8% 38% 5% 24%;
    float: left;
}

div.blogH {
    width:100px;
    height:81px;
    margin: auto;
    border: 4px solid #FFFFFF;
}
div.blogW {
    width:88px; 
    height:91px;
    float: left;
    margin: auto;
    border: 4px solid #FFFFFF;
}
input.button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 30px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
input.button2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 35px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

