div.show-image {
    background-image: url("https://scontent.fbkk1-5.fna.fbcdn.net/v/t34.0-12/20937659_2007684269463274_768762395_n.png?oh=94302a23e08972b9320a540a0b5aee3d&oe=599EE336");
    background-repeat: round;
    min-width: 16rem;
    max-width: 100rem;
    min-height: 40rem;
    max-height: 40rem;
    margin: auto;
}

div.x1 {
    min-width: 15rem;
    max-width: 100rem;
    min-height: 6rem;
    max-height: 40rem;
    margin: auto;
}

div.x2 {
    min-width: 1rem;
    max-width: 100rem;
    min-height: 30rem;
    max-height: 60rem;
    margin-top: auto;
    margin-right: 0.8%;
    margin-bottom: auto;
    margin-left: 4.5%;
}

div.x3 {
    float: left;
    width: 8%;
    /* max-width: 4.7rem; */
    min-height: 25.5rem;
    /* max-height: 60rem; */
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    /* margin-left: auto; */
}

div.x4 {
    float: left;
    width: 78.5%;
    /* max-width: 4.7rem; */
    min-height: 2.5rem;
    /* max-height: 60rem; */
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    /* margin-left: auto; */
}

div.x5 {
    float: left;
    width: 65%;
    /* max-width: 4.7rem; */
    min-height: 18.9rem;
    /* max-height: 60rem; */
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    /* margin-left: auto; */
}

div.x6 {
    float: left;
    width: 65%;
    /* max-width: 4.7rem; */
    min-height: 18.9rem;
    /* max-height: 60rem; */
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    /* margin-left: auto; */
}

div.x7 {
    /* padding: 50% 35% 7% 24%; */
    /* float: left; */
    float: left;
    width: 53rem;
    height: 5rem;
    /* background-color: #fae3c4; */
    border-radius: .25rem;
}

div.blog1 {
    float: left;
    width: 13.5%;
    /* max-width: 4.7rem; */
    min-height: 30rem;
    /* max-height: 60rem; */
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    /* margin-left: auto; */
}

div.blog2 {
    float: left;
    width: 86.5%;
    /* max-width: 4.7rem; */
    min-height: 4.3rem;
    /* max-height: 60rem; */
    margin-top: auto;
    /* margin-right: auto; */
    margin-bottom: auto;
    /* margin-left: auto; */
}

div.blog3 {
    float: left;
    width: 13.5%;
    /* max-width: 4.7rem; */
    min-height: 23.2rem;
    /* max-height: 60rem; */
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    /* margin-left: auto; */
}

div.blog4 {
    float: left;
    width: 65%;
    /* max-width: 4.7rem; */
    min-height: 4.3rem;
    /* max-height: 60rem; */
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    /* margin-left: auto; */
}

div.blogH {
    width: 100px;
    height: 81px;
    margin: auto;
    border: 4px solid #FFFFFF;
}

div.blogW {
    width: 88px;
    height: 91px;
    float: left;
    margin: auto;
    border: 4px solid #FFFFFF;
}

input.button1 {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 30px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input.button2 {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 35px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-width: .2rem;
    min-height: 16rem;
}

.bd-example-container {
    min-width: 16rem;
    /* max-width: 25rem; */
    margin-right: auto;
    margin-left: auto;
}